/* src/components/header/header.css */
.header {
  background-color: #010202;
  padding: 20px;
  text-align: center;

}

.header--centered nav ul {
  justify-content: center;
}

.header h1 {
  margin: 0;
  font-size: 2em;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
 
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1em;
}

.header nav ul li a:hover {
  text-decoration: underline;
}
